@layer base {
  :root {
    --font-body: var(--font-ancizar-serif);
    --font-navbar: var(--font-cal-sans);
    --font-title: var(--font-cal-sans);
    --font-heading: var(--font-cal-sans);
    --font-fancy: var(--font-cal-sans);

    --font-size-heading-1: var(--font-size-8);
    --font-size-heading-2: var(--font-size-6);
    --font-size-heading-3: var(--font-size-5);
    --font-size-body: var(--font-size-4);

    --site-content-width: 70rem;
    --site-breakout-width: 90rem;
    --breakout-width: calc((var(--site-breakout-width) - var(--site-content-width)) / 2);

    --border-radius-default: 18px;
    --border-default: 1px solid var(--clr-surface-inverse);
  }

  body {
    position: relative;
    padding-top: var(--navbar-height, 0);
  }
}

@layer theme {
  :root {
    --csss-brand-cream: hsl(55, 44%, 89%);
    --csss-brand-teal: hsl(166, 57%, 43%);

    --clr-primary-bg: var(--csss-brand-grey);
    --clr-surface-base: var(--csss-brand-cream);
    --clr-surface-inverse: var(--csss-brand-grey);
    --clr-text-primary: var(--csss-brand-black);
    --clr-text-inverse: var(--csss-brand-cream);
    --clr-surface-hover: var(--csss-brand-grey);
    --clr-border-default: hsl(0, 0%, 0%, 0.15);
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4 {
    font-weight: var(--font-weight-bold);
  }
}
