:root {
  --hill-height: 50vh;
  --max-hill-width: 500px;
  --building-width: 8rem;
  --hill-padding: 5vh;
  --hill-shadow: #002805;
  --hill-color: #004208;
  --red: #880500;
  --darkred: #550500;
  --lightred: #aa1500;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100svh;
}

body {
  position: relative;
  width: 100vw;
  font-family: sans-serif;
  /* background: linear-gradient( */
  /*   to right, */
  /*   var(--hill-shadow) 3px, */
  /*   var(--hill-color) 3px, */
  /*   var(--hill-color) calc(100vw - 42px), */
  /*   var(--hill-shadow) calc(100vw - 42px) */
  /* ); */
  /* background: var(--hill-color); */
}

p {
  line-height: 1.5;
  max-width: 100%;
}

table {
  font-size: 1rem;
}

table * {
  font-size: inherit;
}

body * {
  box-sizing: border-box;
}

.btn,
button {
  display: inline-block;
  padding: 12px 12px 10px 12px;
  font-size: inherit;
  font-weight: 700;
  color: white;
  background: var(--red);
  white-space: nowrap;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
  box-shadow: 0 6px 0 var(--darkred);
  transition:
    box-shadow 0.2s,
    color 0.2s,
    background 0.2s;
}

.btn:focus,
button:focus,
.btn:hover,
button:hover {
  background: var(--lightred);
}

.btn:active,
button:active {
  background: var(--darkred);
}

#sky {
  position: fixed;
  width: 100%;
  height: 100svh;
  z-index: -1;
}

#stars {
  position: fixed;
  width: 100%;
  height: 100svh;
  opacity: 0;
  animation: opacity 0.5s ease;
  z-index: -1;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  animation: twinkle 1s ease-in-out infinite alternate;
}

@keyframes twinkle {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

#above-fold::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#above-fold {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0;
}

#hero {
  text-align: center;
  color: white;
  margin: auto 0;
}

#hero > h2,
#hero > h3,
#hero > h4 {
  text-shadow: 1px 1px 1px black;
}

#hero > h1 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 1rem 0;
  font-family: Bungee;
  font-size: 2rem;
  text-shadow: 0 5px 0 black;
}

#hero > h3 {
  font-size: 1.5rem;
}

#hero > h4 {
  font-weight: 400;
  margin: 0 0 2rem 0;
}

#hero > h4 b {
  font-weight: 800;
}

#peak {
  position: fixed;
  bottom: 0;
  height: fit-content;
  width: 100%;
}

#building {
  position: relative;
  height: var(--building-height);
  left: calc(50vw - min(50vw, calc(var(--building-width) / 2)));
  z-index: 1;
  margin: 3em 0 0 0;
  min-width: 5.625rem;
  width: 20vw;
  max-width: 7.8125rem;
  background: gray;
  box-shadow:
    inset -20px 0 0 gray,
    10px 0px 0 #444;
}

#building::before {
  background: var(--red);
  content: 'SFU';
  font-size: 1rem;
  color: white;
  position: relative;
  top: -6px;
  left: calc(100% - 50px);
  width: 50px;
  height: 70px;
  padding: 5px 5px 0px 5px;
}

#mountain {
  position: relative;
  left: calc(50vw - min(50vw, calc(var(--max-hill-width) / 2)));
  bottom: 0px;
  min-width: 20rem;
  width: 100%;

  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-right: 30px solid var(--hill-shadow);
  border-left: 3px solid var(--hill-shadow);
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  padding-top: var(--hill-padding);
  background: var(--hill-color);
}

.grass {
  position: relative;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  width: 2rem;
  height: 5rem;
  background:
    linear-gradient(315deg, var(--hill-shadow) 25%, transparent 25%),
    linear-gradient(45deg, var(--hill-shadow) 25%, transparent 25%);
  background-color: var(--hill-color);
  background-position: bottom left;
}

.grass:nth-child(1) {
  top: 5em;
  right: 0em;
}

.grass:nth-child(2) {
  top: 0em;
  right: 1em;
}

.grass:nth-child(3) {
  top: 7em;
  left: 1em;
}

#info-container {
  position: relative;
  top: 100svh;
  z-index: 1;
  color: white;
}

#info-container > section {
  padding: 1em 0;
}

#info-container > section > div {
  flex: 0 0 auto;
  margin-left: 1em;
  margin-right: 1em;
}

#info-container > section h2 {
  text-align: center;
}

/* if have more sponsors, add sponsors here too */
#schedule {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 100%;
}

/* new layout: single column*/
.center {
  box-sizing: content-box;
  display: block;
  margin: 0 auto;
}

.stack > * + * {
  margin-block-start: 2rem;
}

#schedule div {
  max-width: calc(100% - 2em);
  margin-left: 1em;
  margin-right: 1em;
}

table td {
  padding: 0.5em 0;
  max-width: 45%;
}

#schedule > h2,
#schedule > h3,
#faq > h2,
#prize > h2 {
  flex: 1 0 100%;
}

.home {
  padding: 0.1rem;
}

.home > object {
  width: 2rem;
  pointer-events: none;
}

#nav-links {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  display: flex;
  padding: 0.4rem;
  gap: min(1.5rem, 5vw);
  align-items: center;
}

#nav-links a {
  color: white;
  transition: text-shadow 0.2s;
}

#nav-links a:hover {
  text-shadow: 0 0 5px grey;
}

#schedule h3 {
  flex: 1 0 100%;
  text-align: center;
}

td:first-child {
  text-align: right;
  font-weight: 700;
  padding-right: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

#join-discord {
  font-weight: lighter;
}

#join-discord a {
  font-weight: bold;
  text-decoration: underline white;
}

a > img {
  max-width: calc(100% - 4em);
  height: auto;
  background: white;
  filter: grayscale(100%);
  opacity: 0.8;
  transition:
    opacity 0.2s,
    filter 0.2s;
}

@media (max-width: 770px) {
  section > div {
    padding: 0 2rem;
  }
}

@media (min-width: 770px) {
  header > h1 {
    font-size: calc(100vw / 24);
    font-size: 4rem;
    text-shadow: 0 10px 0 black;
  }
  #info-container > section {
    max-width: 500px;
  }
  #mountain {
    max-width: 500px;
  }
}
