:root {
  --clr-frosh-purple: hsl(244, 35%, 42%);
  --clr-frosh-cream: hsl(60, 100%, 98%);
  --clr-frosh-lavendar: hsl(240, 100%, 88%);
  --clr-frosh-pink: hsl(340, 100%, 82%);
  --clr-frosh-black: hsl(330, 30%, 11%);

  --clr-surface-base: var(--clr-frosh-cream);
  --clr-surface-inverse: var(--clr-frosh-black);
  --clr-text-base: var(--clr-frosh-black);
  --clr-text-inverse: var(--clr-frosh-cream);
  --clr-navbar-hover-fg: var(--clr-frosh-purple);

  --clr-primary-bg: var(--clr-frosh-purple);
  --clr-primary-fg: var(--clr-text-inverse);
  --clr-secondary-bg: var(--clr-frosh-lavendar);
  --clr-secondary-fg: black;
  --clr-tertiary-bg: var(--clr-frosh-pink);
  --clr-tertiary-fg: black;

  --clr-link-inline: color-mix(in oklch, var(--clr-frosh-purple), white 20%);
  --clr-surface-inverse: var(--clr-frosh-purple);

  --font-navbar-title: var(--font-title);
  --font-size-navbar-title: var(--font-size-5);
}

.navbar {
  --navbar-clr-bg: var(--clr-frosh-purple);
  --navbar-clr-dropdown-bg: var(--clr-primary-bg);
  --navbar-clr-text: var(--clr-text-inverse);
  --navbar-clr-scrolled-border: var(--clr-primary-bg);
}

body {
  background-color: var(--clr-frosh-purple);
}

main {
  background-color: var(--clr-surface-base);
}
